body {
	padding-top: 30px;
    font-family: 'Roboto Mono', monospace;
}

img {
	width: 100%;
	border: 1px solid silver;
	padding: 4px;
	height: 340px;
	margin-bottom: 15px;
}

#logosImg {
	width: 100px;
	height: 100px;
	display: block;
	float: left;
	margin-right: 10px;
	margin-top: 5px;
	padding: 2px;
}

#frontUpperDiv {
	color: #2c3e50;
	background-color: #ecf0f1;
	height: 85vh;
	margin-bottom: 55px;
}

#uppermostDiv {
	color: #2c3e50;
	background-color: #ecf0f1;
	height: 115vh;
}

#frontBtn {
	position: relative;
    left: 34%;
    margin-top: 5%;
    color: #2c3e50;
    background-color: white;
    border: 1px solid #95a1aa;
    z-index: 1;
}

hr {
	border-top: 1px solid black;
} 

#roundPic {
	width: 18%;
    height: 58%;
    position: relative;
    top: -340px;
    left: 25.2%;
    border-radius: 50%;
    border: 1px solid black;
    padding: 5px;
}

tr {
   line-height: 25px;
   min-height: 25px;
   height: 25px;
}

.navbar-inverse {
	background: white;
	margin-bottom: 0;
}

.navbar-inverse .navbar-nav > li > a {
	color: #95a1aa;
}

.navbar-inverse .navbar-brand {
	color: #95a1aa;
}

#jumboH1 {
	font-size: 37px;
	margin-bottom: 15px;
}

#hikesterh1 {
	font-size: 55px;
	text-align: center;
	padding-bottom: 10px;
}

#hikesterul {
	font-size: 18px;
	padding-left: 135px;
	text-align: left;
}

.content {
    color: #3d4247;
    width: 51%;
    position: relative;
    top: 85px;
    left: 115px;
    font-family: 'Roboto Mono', monospace;
}

.content2 {
    color: #3d4247;
    width: 58%;
    position: relative;
    top: 105px;
    left: 22.5%;
    font-family: 'Roboto Mono', monospace;
}

.content4 {
    color: #3d4247;
    width: 58%;
    position: relative;
    top: 105px;
    left: 22.5%;
    font-family: 'Roboto Mono', monospace;
}

#jumboH2 {
	font-size: 37px;
	margin-bottom: 15px;
	padding-left: 30%;
}

#frontH4 {
	padding-left: 30%;	
}

.fa {
	margin-right: 8px;
}


/* STARS*/
/* STARS*/
/* STARS*/
	
#space, .stars {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.stars {
  background-image: 
    radial-gradient(2px 2px at 20px 30px, #2c3e50, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 40px 70px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 50px 160px, #ddd, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 90px 40px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 130px 80px, #fff, rgba(0,0,0,0)),
    radial-gradient(2px 2px at 160px 120px, #ddd, rgba(0,0,0,0));
  background-repeat: repeat;
  background-size: 200px 200px;
  animation: zoom 5s infinite;
  opacity: 1;
}

.stars:nth-child(1) {
  background-position: 50% 50%;
  animation-delay: 0s;
}
.stars:nth-child(2) {
  background-position: 20% 60%;
  animation-delay: 1s;
}
.stars:nth-child(3) {
  background-position: -20% -30%;
  animation-delay: 2s;
}
.stars:nth-child(4) {
  background-position: 40% -80%;
  animation-delay: 3s;
}
.stars:nth-child(5) {
  background-position: -20% 30%;
  animation-delay: 4s;
}

@keyframes zoom {
  0% {
    opacity: 1;
    transform: scale(0.5);
    animation-timing-function: ease-in;
  } 
  85% {
    opacity: 1;
    transform: scale(2.8);
    animation-timing-function: linear;
  }
  100% {
    opacity: 1;
    transform: scale(3.5);
  }
}
